{% extends "::layout.html.twig" %}
{% block title %}{{ parent() }} :: Mes projets{% endblock %}
{% block titlebar_title %}Mes projets{% endblock %}
{% block titlebar_ariane %}
	{{ parent() }} <span>Mes projets</span>
{% endblock %}
{% block slider %}{% endblock %}
{% block content_type %}{% endblock%}


{% block content %}

	<!-- block pour le filtrage il faudra le modifier ! -->
	<div id="filter" class="block_filter_1">
		<ul>
			<li class="active"><a href="all">All</a></li>
			<!--<li><a href="web">Web Design</a></li>
			<li><a href="branding">Branding</a></li>
			<li><a href="video">Video</a></li> -->
		</ul>
	</div>

	<div id="filtered_container" class="block_portfolio_3 c_3">
	{% if projects is not null %}
		{% for project in projects %}
		<div class="item web">
			<div class="image">
				{% if project.logo is not null %}
					<img style="width:290px; height:180px;" src="{{project.logo.url}}" alt="project logo">
				{% else %}
					<img style="witdh:290px; height:180px;" src="{{ asset('uploads/unknown_project.jpg') }}" alt="project logo">
				{% endif %}
				<div class="info">
					<div class="icons">
						<ul>
							{% if project.logo is not null %}
								<li><a href="{{project.logo.url}}" data-rel="prettyPhoto" class="icon_zoom" title="">Zoom</a></li>
							{% else %}
								<li><a href="{{ asset('uploads/unknown_project.jpg') }}" data-rel="prettyPhoto" class="icon_zoom" title="">Zoom</a></li>
							{% endif %}
							<li><a href="{{ path('show_project', {'id': project.id, 'url': project.url}) }}" class="icon_link">Link</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="description">
				<h6><span>{{project.shortDescription}}</span></h6>
				<p class="tags"><a href="{{ path('my_project', {'id': project.id, 'url': project.url}) }}">Voir le projet</a></p>
			</div>
		</div>
		{% endfor %}
	{% endif %}
	</div>
{% endblock %}  